

.cbtn button[class="darkmode"] .fas.fa-moon::before{ display:block;  position:relative;  top:1px;  
  content: url("icons/home/mode_dark.png");
}
.cbtn button[class="darkmode"] .fas.fa-sun::before{ display:block; position:relative; top:1px;  
  content: url("icons/home/mode_light.png");
}




.cbtn button[class="btnbr"] .fas::before{ display:block;  position:relative;  top:1px;  
  content: url("icons/br.png");
}
.cbtn button[class="btnen"] .fas::before{ display:block; position:relative; top:1px;  
  content: url("icons/en.png");
}

 
 
.modal .ssclose .icon::before {  display:block;  position:relative;  top:-28px;  
  content: url("icons/close.png");
}

